@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

p {
    padding-bottom: 10px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
}

.section-title h1:before {
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #3fe0d0;
    bottom: 0px;
}

/* for aligning the section titles in the website*/
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/*HEADER SECTION*/
header {
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    /*white line under menu*/
    padding: 0px 15px;
    z-index: 11;
}

header.fixed {
    background-color: #ffffff;
    position: fixed;
    border-color: #eeeeee;
    animation: fixHeader .5s ease;
    z-index: 11;
}

@keyframes fixHeader {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(-%);
    }
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header .brand-name img {
    width: 95px;
    margin-top: 0px;
}

header .brand-name a {
    text-decoration: none;
    /*removes underline*/
    font-size: 30px;
    font-weight: 800px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}


header.fixed .brand-name img {
    filter: invert(100%);
}

header.fixed .brand-name a {
    color: #000000;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li {
    display: inline-block;
    margin-left: 35px;
    /*Margin around text, illusion of spacing*/
}

header .navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    /*no underline*/
    line-height: 72px;
    /*height of the text*/
    color: #ffffff;
    display: block;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    padding-top: 2px;
}

header.fixed .navbar ul li a {
    color: #000000;
}

header .navbar ul li a::before {
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -2px;
    /*puts underline flush against bottom line */
    transition: all .2s ease;
}

header.fixed .navbar ul li a::before {
    background-color: #3fe0d0;
}

header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .navbar ul li a.active::before {
    width: 100%;
    left: 0;
}

/*HOME SECTION*/
.home {
    min-height: 100vh;
    background-image: url("nightsky.jpg");
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen {
    min-height: 100vh;
}

.home .home-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 35px;
    border-left: 3px solid #ffffff;
    /*line aesthetic*/
    margin-top: 50px;
}

.home .home-content .block h6 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.home .home-content .block h1 {
    color: #ffffff;
    font-size: 90px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.home .home-content .block h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding-top: 10px;

}

/*ABOUT ME SECTION*/
.about-me {
    padding: 2.5% 15px;
    background-color: #ffffff;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.about-me .section-title p.small {
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me .about-content .img img {
    width: 100%;
    display: block;
    border-radius: 100%;
}

.about-me .about-content .text {
    flex: 0 0 61%;
    padding-left: 20px;
    margin: auto 0 auto 0;
}

.about-me .about-content .text h4 {
    font-size: 27px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000000;
}

.about-me .about-content .text h4 span {
    color: #3fe0d0;
}

.about-me .about-content .skills {
   margin-top: 15px;
}

.about-me .about-content .text p {
    font-size: 17px;
    font-weight: 400px;
    line-height: 20px;
    color: #838383;
}

.contact_info a {
    text-decoration: none;
}

.about-me .about-content .text label {
    text-decoration: underline;
    text-transform: uppercase;
}

.about-me .about-content .text .skills {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

.about-me .about-content .text .skills .list {
    
}

.about-me .about-content .text .skills .list p {
    padding: 0 5vh 5px 0;
    display: inline;
}

.about-me .about-content .text .skills .list img {
    margin-right: -20px;
    width: 30px;
    height: 30px;
}

.about-me .about-content .contact_info a {
    /*icon colours & size*/
    color: #3fe0d0;
    font-size: 20px;
    margin-right: 8px;
}
.about-me .about-content .contact_info p{
    font-size: 15px;
}

.about-content {
    display:grid;
    grid-template-columns: 30% 70%;      
    width: 100%; 
}

.about-content .img img {
    max-width: 30vh;
    margin: auto 6% auto auto;
}

/*PORTFOILIO SECTION*/
.portfolio {
    background-color: #f5f8fd;
    /*grey color*/
    padding: 4% 15px;

}

.portfolio .section-title h1:before {
    /*underline in portfolio*/
    left: 0%;
    right: 0%;
}

.portfolio .filter-buttons {
    flex: 0 0 100%;
    max-width: 100%;
}

.portfolio .filter-buttons ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.portfolio .filter-buttons ul li {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}

.portfolio .filter-buttons ul li.active {
    /* colour of video, fabrication etc */
    color: #3fe0d0;
    border-bottom: 2px solid #3fe0d0;
}

.portfolio .filter-buttons {
    margin-bottom: 25px;
}

.portfolio .portfolio-gallery {
    max-width: 100%;
    columns: 3;
    column-gap: 15px;
margin-top: 1%;

}

.portfolio .portfolio-gallery .item {
    width: 100%;
    margin: 0 0 15px;
    break-inside: avoid;
    overflow: hidden;

}

.portfolio .portfolio-gallery .item .inner {
    position: relative;

}

.portfolio .portfolio-gallery .item img {
    max-width: 100%;

}

.portfolio .portfolio-gallery .item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0 0 3px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}

.portfolio .portfolio-gallery .item:hover .overlay {
    opacity: 1;
}

.portfolio .portfolio-gallery .item .overlay h4 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    padding: 60px;
    text-align: center;
}

.portfolio .portfolio-gallery .item:hover .overlay h4 {
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}


@keyframes galleryText {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/*CONTACT SECTION*/


.contact {
    /*box*/
    width: 80%;
    height: 150px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 6% auto;
    position: relative;
}

.contact .block {
    /*get in touch section*/
    padding: 35px;
    margin: 25px;
    border-right: 1px solid #000000;
}

.contact .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 20px;
    margin: 38px;
    /*how close each block is*/
}

.contact .info p {
    /*text*/
    font-size: 17px;
    color: #838383;
    margin-top: 9px;
}

.contact .info a {
    /*icon colours*/
    color: #3fe0d0;
    font-size: 25px;
    margin-right: 8px;
}

/*FOOTER SECTION*/

footer {
    padding: 70px 15px;
    background-color: #000000;
}

footer .logo {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    font-weight: 700;
}

footer .logo img {

    max-width: 120px;

}

footer .social {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
}

footer .social a {
    color: #999999;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5x ease;
    text-decoration: none;
}

footer .social a:hover {
    color: #3fe0d0;
}

.copyright {
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}

.copyright p {
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
}

.ham-burger .fa {
    font-size: 20px;
    height: 30px;
    width: 35px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
    border: 1px solid #eeeeee;
}

/*responsive*/
@media(max-width: 991px) {
    .home .home-content .block h1 {
        font-size: 50px
    }

    .contact {
        /*box*/
        width: 93%;
    }

    .contact .info {
        margin-right: 0px;
        margin-left: 20px;
    }
}

@media(max-width: 768px) {
    .home .home-content .block h1 {
        font-size: 40px
    }

    .home .home-content .block h3 {
        font-size: 25px
    }


    header {
        padding: 15px;
        position: fixed;
        background-color: #ffffff;
        border: none;
        border-bottom: 1px solid #eeeeee;
    }

    .ham-burger .fa {
        display: inline-block;
    }

    header .brand-name img {
        filter: invert();
    }

    .navbar {
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        left: 0px;
        top: 60px;
        padding: 15px;
        border-top: 1px solid #eeeeee;
        display: none;
        border-bottom: 1px solid #eeeeee;
    }

    .navbar.show {
        display: block;
    }

    header .navbar ul li {
        display: block;
        margin-left: 0;
    }

    header .navbar ul li a {
        line-height: 42px;
        color: #000000;
    }

    header .navbar ul li a::before {
        background-color: #3fe0d0;
    }

    .about-me .about-content .text {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }

    .about-me .about-content .img {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .portfolio .portfolio-gallery {
        columns: 2;
    }

    .contact {
        /*box*/
        width: 93%;
    }

    .contact .info {
        margin-right: 0px;
        margin-left: 20px;
    }
}

@media(max-width: 500px) {
    .home .home-content .block h1 {
        font-size: 30px
    }

    .home .home-content .block h3 {
        font-size: 20px
    }

    .home .home-content .block {
        padding-left: 20px;
    }

    .portfolio .portfolio-gallery {
        columns: 1;
    }

    .contact {
        /*box*/
        width: 90%;
        height: 350px;
    }

    .contact .block {
        /*get in touch section*/
        border: none;
        width: 100%;
        height: 0px;
        text-align: center;
        font-size: 21px;
        display: block;
    }

    .contact h2 {
        padding-bottom: 2px;
        border-bottom: 1px solid #000000;
    }

    .contact .info {
        padding: 0px;
        margin: 0px;
        width: 100%;
        text-align: center;
        display: block;
    }
}